<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Toto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Toto.Properties.Settings.MySqlConnection" connectionString="Server=skytoto.crcl5hyzzdre.eu-west-1.rds.amazonaws.com;Port=3306;Database=skytoto;Uid=skytoto2014;Pwd=2014skytoto;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Toto.Properties.Settings>
            <setting name="AddressFon" serializeAs="String">
                <value />
            </setting>
            <setting name="KuponsCount" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="TirazhsCount" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="AddressBolt" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseIdiotKupons" serializeAs="String">
                <value>False</value>
            </setting>
        </Toto.Properties.Settings>
    </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>